*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent
{
    background-color: pink;
    height: 400px;
    width: 350px;
    margin: 100px auto;
    position: absolute;
    margin-left: 450px;
   
    
}
.child
{
    background-color: red;
    height: 100%;
    width: 0px;
    position: absolute ;
    top: 0px;
  
    overflow: hidden;
   transition: width 2s;
}
.child h1
{
    font-size: 30px;
    position: relative;
    top: 170px;
    text-align: center;
}
.heading
{
    position: relative;
    font-size: 35px;
    top: 180px;
    left: 113px;
}

.parent:hover .child
{
    width: 100%;
}