.parent
{
    width: 250px;
    height: 350px;
    background-color: red;
    position: relative;
    transition:transform 1s;
}
.child
{
    width: 250px;
    height: 150px;
    background-color: red;
    position: relative;
    top:50px;
}




