table, thead,tbody,tr,th,td
{
    border: 2px solid black;
    border-collapse: collapse;
}
table
{
    width: 100px;
    margin: 100px auto;

}
th, td
{
    padding: 10px;
    text-align: center;
}
thead
{
    background-color: rgb(232, 116, 116);
    color: white;
}
tbody
{
    background-color: blanchedalmond;

}
tbody tr:hover
{
    background-color: bisque;
}
tbody tr:nth-child(even)
{
    background-color: gray;
}